$chat-box-width: 600px;
$chat-box-height: 300px;
$chat-box-padding: 40px;

div#chat-box {
  background: #eee;
  height: $chat-box-height;
  width: $chat-box-width;
  margin: 100px auto 0;
  position: relative;
}

div#message-container {
  position: absolute;
  overflow-y: scroll;
  width: $chat-box-width - $chat-box-padding;
  height: $chat-box-height - $chat-box-padding;
  margin: $chat-box-padding/2;
}

div#chat-input {
  height: 100px;
  width: $chat-box-width;
  margin: 0 auto;
  background: #e0f8e0;
}
