@import "../../../css/variables";

section#chat-section {
  margin: 50px auto 0;
}

div#chat-box-header {
  width: $chat-box-width;
  margin: 0 auto;
}

div#chat-box {
  background-image: linear-gradient(to right bottom, #eee, lighten(#eee, 4));
  height: $chat-box-height;
  width: $chat-box-width;
  margin: 0 auto;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: none;
}

div#message-container {
  position: absolute;
  overflow-y: scroll;
  width: $chat-box-width - $chat-box-padding;
  height: $chat-box-height;
  margin: 0 $chat-box-padding/2;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      position: relative;
      margin-top: 10px;
      padding: 0 20px 0 8px;
    }
  }
}

div.chat-bubble {
  background: #fff;
  border-radius: 20px;
  display: inline-block;
  padding: 8px 12px;
}

li.owner-message {
  text-align: right;

  div.chat-bubble {
    background-image: linear-gradient(to right bottom, #00b3ee, lighten(#00b3ee, 2));
    color: #fff;
  }
}

span.message-user {
  display: block;
  padding-left: 12px;
  font-weight: 300;
  font-size: 12px;
}

aside#connected-users {
  position: absolute;
  left: calc(250px + 50%);
  top: 50px;
  width: 250px;
  margin-left: 10px;
  padding-left: 10px;
  ul {
    background: #eee;
    padding: 10px;
    list-style-type: none;

  }
}

div#chat-input {
  height: 100px;
  width: $chat-box-width;
  margin: 0 auto;
  display: flex;

  textarea,
  button {
    border-radius: 0;
    z-index: 1;
  }

  textarea {
    resize: none;
    width: $chat-box-width - 100px;
    border-right: none;
  }

  button {
    width: 100px;
    outline: none;
  }
}

section#user-registration-section {
  width: $chat-box-width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  input[type="text"] {
    width: $chat-box-width;
    display: block;
    outline: none;
    font-size: 60px;
    border: none;
    border-bottom: 1px solid #eee;
    border-left: 10px solid #ccc;
    padding-left: 25px;

    &.ng-invalid.ng-touched,
    &.ng-invalid.ng-dirty {
      border-left: 10px solid #f00;
    }

    &.ng-valid {
      border-left: 10px solid #0f0;
    }
  }

  input[type="submit"] {
    color: lighten($btn-primary-bg, 5%);
    display: block;
    margin: 50px auto 0;
    cursor: pointer;
    border: none;
    background: #fff;
    outline: none;

    &:hover {
      color: $btn-primary-bg;
    }
  }
}
