<div id="chat-box-header">
  <h6>{{connections.length}} user{{connections.length === 1 ? '' : 's'}} connected</h6>
</div>

<div id="chat-box">
  <div id="message-container">
    <ul>
      <li *ngFor="let message of messages" [ngClass]="getMessageStyle(message)">
        <div class="chat-bubble">
          {{message.text}}
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="chat-input">
  <textarea placeholder="Type here.." class="form-control" [(ngModel)]="userMessage"></textarea>
  <button class="btn btn-primary-outline" (click)="onSend()" [disabled]="!userMessage">Send</button>
</div>